@import '../utils/mixins';
@import '../utils/variables';

.Banner {
    @include flex();
    margin: auto 100px;
    height: 223px;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../assets/home-cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-primary;
}

@media screen and (max-width: 768px) {
    .Banner {
        @include flex(row, left, left);
        margin: auto 20px;
        height: 150px;
        border-radius: 10px;

        h1 {
            margin: 0 20px;
            width: 200px;
            font-size: 26px;
            overflow: hidden;
        }
    }
}