@import '../utils/mixins';
@import '../utils/variables';

.Banner {
    @include flex();
    margin: auto 100px;
    height: 223px;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../assets/home-cover.png');
    color: $color-primary;
}