@import '../utils/mixins';
@import '../utils/variables';

.Card {
    @include flex(row, center, center);
    flex-wrap: wrap;
    padding: 50px;
    margin: 40px 100px;
    gap: 50px;
    border-radius: 25px;

    a:hover {
        box-shadow: 0 0 15px rgb(0 0 0 / 0.6);
    }
}

@media screen and (max-width: 768px) {
    .Card {
        @include flex(column, center, center);
        margin: 0;
        padding: 20px;
        gap: 20px;
        border-radius: 10px;
    }
}