@import '../utils/mixins';
@import '../utils/variables';

.Collaps {
    margin-bottom: 20px;
}

.AboutCollaps {
    margin-top: 20px;
    padding: 10px 120px;
}

.collapsible {
    display: flex;
    justify-content: space-between;
    background-color: $color-secondary;
    color: $color-primary;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 24px;
}

.content {
    margin: 0;
    padding: 20px;
    background-color: $color-tertiary;
    color: $color-secondary;
    border-radius: 0 0 5px 5px;
    line-height: 25px;
}
  
.not-display {
    display: none;
}

.icon-rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
    .AboutCollaps {
        padding: 10px 20px;
    }

    .collapsible {
        font-size: 18px;
    }

    .content {
        padding: 15px;
        font-size: 14px;
        line-height: 20px;
    }
}