@import '../utils/mixins';
@import '../utils/variables';

.Housing {
    margin: auto 100px;
}

.Carousel {
    width: 100%;
    height: 415px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: black;
}

.Infos {
    @include flex(row, center, center);
    justify-content: space-between;
    margin: 30px 0 10px 0;

    p {
        color: $color-secondary;
        font-size: 18px;
    }
}

.InfosHouse {
    color: $color-secondary;

    p {
        margin: 10px 0;
    }
}

.Profile {
    @include flex(row, center, center);

    img {
        width: 65px;
        height: 65px;
        margin-left: 10px;
        border-radius: 50px;
    }
}

.TagNotes {
    ul {
        @include flex(row, left, left);
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0 10px 0 0;
        padding: 5px 40px;
        color: $color-primary;
        background-color: $color-secondary;
        border-radius: 10px;
    }
}

.MoreInfos {
    @include flex(row, left, left);
    justify-content: space-between;

    .HousingCollaps {
        margin: 20px 0;
        width: 45%;
    }
}