@import '../utils/mixins';
@import '../utils/variables';

.Housing {
    margin: auto 100px;
}

.Infos {
    @include flex(row, center, flex-start);
    justify-content: space-between;
    margin: 30px 0;
}

.Details {
    width: 100%;

    h1 {
        color: $color-secondary;
    }

    p {
        margin: 10px 0 20px 0;
        color: $color-secondary;
        font-size: 18px;
    }

    ul {
        @include flex(row, left, center);
        flex-wrap: wrap;
        padding: 0;
    }

    li {
        margin: 10px 10px 0 0;
        padding: 5px 40px;
        color: $color-primary;
        background-color: $color-secondary;
        border-radius: 10px;
        white-space : nowrap;
    }
}

.User {
    @include flex(column, center, flex-end);
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    .star-svg {
        margin-left: 10px;
        width: 30px;
    }
}

.Profile {
    @include flex(row, center, center);

    p {
        width: 100px;
        text-align: right;
        color: $color-secondary;
        font-size: 18px;
        overflow: hidden;
    }

    img {
        width: 65px;
        height: 65px;
        margin-left: 10px;
        border-radius: 50px;
    }
}

.MoreInfos {
    @include flex(row, left, left);
    justify-content: space-between;
    margin-top: 20px;

    > div {
        flex: 1;
        max-width: 45%;
    }
}

@media screen and (max-width: 992px) {
    .Housing {
        margin: auto 20px;
    }

    .Details {

        h1 {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 768px) {

    .Infos {
        @include flex(column, left, left);
        margin: 15px 0;
        gap: 20px;
    }

    .Details {
        margin: 0;

        h1 {
            font-size: 20px;
        }

        p {
            font-size: 14px;
        }

        li {
            font-size: 14px;
            border-radius: 5px;
        }
    }

    .User {
        @include flex(row-reverse, center, center);
        justify-content: space-between;

        .star-svg {
            margin-left: 0;
            margin-right: 10px;
            width: 20px;
        }
    }

    .Profile {

        p {
            width: 75px;
            font-size: 14px;
            overflow: hidden;
        }

        img {
            width: 45px;
            height: 45px;
        }
    }

    .MoreInfos {
        @include flex(column, left, left);

        > div {
            max-width: 100%;
        }
    }
}