@import '../utils/mixins';
@import '../utils/variables';

.Housing {
    margin: auto 100px;
}

.Infos {
    @include flex(row, center, center);
    justify-content: space-between;
    margin: 30px 0 10px 0;

    p {
        color: $color-secondary;
        font-size: 18px;
    }
}

.InfosHouse {
    color: $color-secondary;

    p {
        margin: 10px 0;
    }
}

.Profile {
    @include flex(row, center, center);

    img {
        width: 65px;
        height: 65px;
        margin-left: 10px;
        border-radius: 50px;
    }
}

.TagNotes {
    @include flex(row);
    justify-content: space-between;

    ul {
        @include flex(row, left, left);
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0 10px 0 0;
        padding: 5px 40px;
        color: $color-primary;
        background-color: $color-secondary;
        border-radius: 10px;
    }

    .star-svg {
        margin: 0 0 0 10px;
        width: 30px;
    }
}

.MoreInfos {
    @include flex(row, left, left);
    justify-content: space-between;
    margin-top: 20px;

    > div {
        flex: 1;
        max-width: 45%;
    }
}