body, a, p, h1, h2, h3 {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

h1 {
  font-size: 35px;
  font-weight: 400;
}

.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 40px 100px;
  font-size: 24px;
}
.Navigation img {
  height: 68px;
}
.Navigation ul {
  display: flex;
  gap: 60px;
}
.Navigation ul a {
  color: #FF6060;
  text-decoration: none;
}
.Navigation ul a :active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Navigation {
    margin: 20px;
    font-size: 16px;
  }
  .Navigation img {
    height: 35px;
  }
  .Navigation ul {
    gap: 20px;
    text-transform: uppercase;
  }
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
  height: 223px;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/home-cover.png");
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
}
.banner_about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
  height: 223px;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/about-cover.png");
  background-position: center;
  background-size: cover;
}
.banner p {
  font-size: 35px;
}

@media screen and (max-width: 768px) {
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin: auto 20px;
    height: 150px;
    border-radius: 10px;
  }
  .banner_about {
    margin: auto 20px;
    border-radius: 10px;
  }
  .banner p {
    margin: 0 20px;
    width: 200px;
    font-size: 26px;
    overflow: hidden;
  }
}
.Card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 100px;
  gap: 50px;
  border-radius: 25px;
}
.Card a:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
  .Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
    border-radius: 10px;
  }
}
.HousingCard {
  position: relative;
  width: 30%;
  height: 340px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.HousingCard img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.HousingCard h3 {
  position: absolute;
  margin: 0 20px;
  height: 50px;
  bottom: 10px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .HousingCard {
    width: 100%;
    height: 250px;
  }
}
.Collaps {
  margin-bottom: 20px;
}

.AboutCollaps {
  margin-top: 20px;
  padding: 10px 100px;
}

.collapsible {
  display: flex;
  justify-content: space-between;
  background-color: #FF6060;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 24px;
}

.content {
  margin: 0;
  padding: 20px;
  background-color: #F7F7F7;
  color: #FF6060;
  border-radius: 0 0 5px 5px;
  line-height: 25px;
}

.not-display {
  display: none;
}

.icon-rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .AboutCollaps {
    padding: 10px 20px;
  }
  .collapsible {
    font-size: 18px;
  }
  .content {
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
  }
}
.Housing {
  margin: auto 100px;
}

.Infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.Details {
  width: 100%;
}
.Details h1 {
  color: #FF6060;
}
.Details p {
  margin: 10px 0 20px 0;
  color: #FF6060;
  font-size: 18px;
}
.Details ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  margin: 0;
  padding: 0;
}
.Details li {
  margin: 0 10px 0 0;
  padding: 5px 40px;
  color: #FFFFFF;
  background-color: #FF6060;
  border-radius: 10px;
}

.User {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.User .star-svg {
  margin-left: 10px;
  width: 30px;
}

.Profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Profile p {
  width: 100px;
  text-align: right;
  color: #FF6060;
  font-size: 18px;
  overflow: hidden;
}
.Profile img {
  width: 65px;
  height: 65px;
  margin-left: 10px;
  border-radius: 50px;
}

.MoreInfos {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  justify-content: space-between;
  margin-top: 20px;
}
.MoreInfos > div {
  flex: 1;
  max-width: 45%;
}

@media screen and (max-width: 768px) {
  .Housing {
    margin: auto 20px;
  }
  .Infos {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 15px 0;
    gap: 20px;
  }
  .Details {
    margin: 0;
  }
  .Details h1 {
    font-size: 20px;
  }
  .Details p {
    font-size: 14px;
  }
  .Details li {
    font-size: 14px;
    border-radius: 5px;
  }
  .User {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .User .star-svg {
    margin-left: 0;
    margin-right: 10px;
    width: 20px;
  }
  .Profile p {
    width: 75px;
    font-size: 14px;
    overflow: hidden;
  }
  .Profile img {
    width: 45px;
    height: 45px;
  }
  .MoreInfos {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  .MoreInfos > div {
    max-width: 100%;
  }
}
.Carousel {
  width: 100%;
  height: 415px;
  margin: 0 auto;
}

.CarouselImg {
  height: 100%;
  position: relative;
}
.CarouselImg .left {
  position: absolute;
  top: 46%;
  left: 20px;
  transform: rotate(-90deg);
  color: #FFFFFF;
  font-size: 50px;
  cursor: pointer;
}
.CarouselImg .right {
  position: absolute;
  top: 46%;
  right: 20px;
  transform: rotate(90deg);
  color: #FFFFFF;
  font-size: 50px;
  cursor: pointer;
}
.CarouselImg .Images {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .Carousel {
    height: 255px;
  }
  .CarouselImg .left {
    font-size: 25px;
  }
  .CarouselImg .right {
    font-size: 25px;
  }
  .CarouselImg .Images {
    border-radius: 10px;
  }
}
.Error404 {
  margin: 50px 0;
  text-align: center;
  color: #FF6060;
}
.Error404 h1 {
  font-size: 200px;
}
.Error404 > p {
  margin-bottom: 130px;
  font-size: 30px;
}
.Error404 .ErrortoHome {
  color: #FF6060;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Error404 {
    margin: 50px;
  }
  .Error404 h1 {
    font-size: 125px;
  }
  .Error404 > p {
    font-size: 20px;
  }
}
.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 24px;
}
.Footer img {
  height: 40px;
  filter: brightness(10);
  margin: 30px 0;
}

@media screen and (max-width: 768px) {
  .Footer {
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */