body, a, p, h1, h2, h3 {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 35px;
  font-weight: 400;
}

.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 40px 100px;
  font-size: 24px;
}
.Navigation img {
  height: 68px;
}
.Navigation ul {
  display: flex;
  gap: 60px;
}
.Navigation ul a {
  color: #FF6060;
}

.Banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto 100px;
  height: 223px;
  border-radius: 25px;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("../assets/home-cover.png");
  color: #FFFFFF;
}

.Card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  margin: 40px 100px;
  gap: 50px;
  border-radius: 25px;
}
.Card a:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.HousingCard {
  position: relative;
  width: 30%;
  height: 340px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.HousingCard img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.HousingCard h3 {
  position: absolute;
  margin: 0 20px;
  height: 50px;
  bottom: 10px;
  color: #FFFFFF;
}

.AboutCollaps {
  margin: 40px 200px;
}

.collapsible {
  display: flex;
  justify-content: space-between;
  background-color: #FF6060;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 24px;
}

.content {
  padding: 20px;
  background-color: #F7F7F7;
  color: #FF6060;
  border-radius: 0 0 5px 5px;
}

.not-display {
  display: none;
}

.icon-rotate {
  transform: rotate(180deg);
}

.Housing {
  margin: auto 100px;
}

.Carousel {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  background-color: black;
}

.Infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 10px 0;
}
.Infos p {
  color: #FF6060;
  font-size: 18px;
}

.InfosHouse {
  color: #FF6060;
}
.InfosHouse p {
  margin: 10px 0;
}

.Profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Profile img {
  width: 65px;
  height: 65px;
  margin-left: 10px;
  border-radius: 50px;
}

.TagNotes ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  margin: 0;
  padding: 0;
}
.TagNotes li {
  margin: 0 10px 0 0;
  padding: 5px 40px;
  color: #FFFFFF;
  background-color: #FF6060;
  border-radius: 10px;
}

.MoreInfos {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  justify-content: space-between;
}
.MoreInfos .HousingCollaps {
  margin: 20px 0;
  width: 45%;
}

.Error404 {
  margin: 50px 0;
  text-align: center;
  color: #FF6060;
}
.Error404 h1 {
  font-size: 200px;
}
.Error404 > p {
  margin-bottom: 100px;
  font-size: 30px;
}
.Error404 .ErrortoHome {
  color: #FF6060;
  text-decoration: underline;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 24px;
}
.Footer img {
  height: 40px;
  filter: brightness(10);
  margin: 30px 0;
}/*# sourceMappingURL=styles.css.map */