@import '../utils/variables';

body, a, p, h1, h2, h3 {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

h1 {
    font-size: 35px;
    font-weight: 400;
}